.profile_section {
    background: #f7f9fb;
    /* background: #5daefe; */
    padding: 100px 0 0 0px;
    position: relative;
}

.profile_part_cover {
    width: 1020px;
    height: 220px;
}

.profile_part_cover_img {
    width: 100%;
    height: 100%;
}

.profile_img_box {
    position: relative;
}

.profile_part_profile {
    position: absolute;
    border-radius: 50%;
    top: 180px;
    left: 25px;
    width: 170px;
    height: 170px;
    background: #ffffff;
    padding: 5px;
    border-radius: 50%;
}

.profile_part_profile_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile_details_box {
    background: #ffffff;
    padding: 25px 46px 80px 225px;
}

.button_color {
    background: #0077b5 !important;
    padding: 10px 45px !important;
}

.sidebar_profile {
    width: 100%;
    height: 545px;
    padding: 25px 20px;
    background: #ffffff;
    /* border: 2px solid #00000073; */
    margin-left: 20px;
    overflow-y: scroll;
    border-radius: 5px;
}

.profile_button {
    padding: 12px 90px;
    border: 1px solid #e7e7e7;
    background: #ffffff;
}

.profile_button_active {
    padding: 20px 90px 12px 90px;
    border: 1px solid #e7e7e7;
    background: #0077b5;
    color: #ffffff;
}

.sidebar_profile_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0275b1;
    text-transform: uppercase;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 18px;
}

.sidebar_profile_img {
    width: 62px;
    height: 62px;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar_profile_box {
    display: flex;
    column-gap: 15px;
    margin-top: 20px;
    align-items: center;
}

.about_box {
    margin-top: 30px;
    padding: 30px;
    background: #ffffff;
}

.experience_img {
    width: 62px;
    height: 62px;
    object-fit: cover;
    border-radius: 50%;
}

.experience_box {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
    padding-bottom: 25px;
    border-bottom: 2px solid #dddddd;
}

.experience_box:last-child {
    border-bottom: 0px solid;
}
